main {

    &::after {
        content: "";
        position: fixed;
        inset: 0;

        width: 80vh;
        background: linear-gradient(92deg, #000 25%, rgba(0, 0, 0, 0) 75%) no-repeat;
    }

    .character {
        display: none;
    }

    .character.selected {
        display: block;
    }

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 6.25%;
        transform: translateY(-50%);
        z-index: 1;

        max-width: 380px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}