* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-md: 400 48px "Secular One", sans-serif;
    --text-md: 400 16px/24px "Rubik", sans-serif;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font: var(--title-md);
}

p {
    font: var(--text-md);
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    pointer-events: auto;
  }