@media (max-width: 768px) {
    main {
        &::after {
            width: 100vw;
            background: linear-gradient(0deg, #000 15%, rgba(0, 0, 0, 0.00) 70%) no-repeat;
        }
    
        img {
            height: auto;
        }
    
        .content {
            transform: translateY(0);
            top: unset;
            bottom: 20%;
            left: 0;
            max-width: 500px;
            padding: 30px;
        }
    }

    ul {
        line-height: 0;
        padding: 30px;
        height: max-content;
        width: 100%;
        align-items: flex-end;
        flex-direction: row;
    
        .button {
            max-width: 70px;
            max-height: 70px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


@media (max-width: 480px) {
    ul {
        .button {
            max-width: 50px;
            max-height: 50px;
        }
    }

}